* {
    margin: 0;
    padding: 0;
}

.startText {
    font-family: 'Arial';
    text-align: center !important;
    font-size: 5vh;
    margin-bottom: 20px;  /* Optional: Adds space below the text */
}


.uploaderButton {
    background-color: brown;
    color: aliceblue;
    width: 300px;
    border: 5px solid black;
    padding: 2px;
    margin: 20px;
    padding-bottom: 1px;
    display: block;  /* Ensures the button is block-level */
}

.textBox {
    width: 200%;
    margin-left: -50%;
}

textarea {
    width: 300px;
    min-height: 50px;
    resize: none; /* Prevent manual resizing */
    overflow: hidden; /* Hide scrollbars */
  }
